openapi: 3.2.0
info:
  title: NHTSA vPIC (Vehicle Product Information Catalog) Makes API
  description: The National Highway Traffic Safety Administration's Vehicle Product Information Catalog (vPIC) API decodes Vehicle Identification Numbers (VINs) and provides catalog data on makes, models, manufacturers, World Manufacturer Identifiers (WMI), and Canadian vehicle specifications. The service returns JSON, XML, or CSV via a public, key-less endpoint.
  version: '1'
  contact:
    name: NHTSA vPIC
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://vpic.nhtsa.dot.gov/api
  description: Production
tags:
- name: Makes
  description: Vehicle makes
paths:
  /vehicles/GetAllMakes:
    get:
      tags:
      - Makes
      summary: Get all vehicle makes
      operationId: getAllMakes
      parameters:
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: All vehicle makes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakesResponse'
components:
  schemas:
    MakesResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              Make_ID:
                type: integer
              Make_Name:
                type: string
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
externalDocs:
  description: vPIC API documentation
  url: https://vpic.nhtsa.dot.gov/api/
