openapi: 3.2.0
info:
  title: NHTSA vPIC (Vehicle Product Information Catalog) WMI API
  description: The National Highway Traffic Safety Administration's Vehicle Product Information Catalog (vPIC) API decodes Vehicle Identification Numbers (VINs) and provides catalog data on makes, models, manufacturers, World Manufacturer Identifiers (WMI), and Canadian vehicle specifications. The service returns JSON, XML, or CSV via a public, key-less endpoint.
  version: '1'
  contact:
    name: NHTSA vPIC
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://vpic.nhtsa.dot.gov/api
  description: Production
tags:
- name: WMI
  description: World Manufacturer Identifier (WMI) decoding
paths:
  /vehicles/DecodeWMI/{wmi}:
    get:
      tags:
      - WMI
      summary: Decode a World Manufacturer Identifier
      operationId: decodeWmi
      parameters:
      - name: wmi
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 6
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: WMI decode result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinDecodeFlatResponse'
components:
  schemas:
    VinDecodeFlatResponse:
      type: object
      properties:
        Count:
          type: integer
        Message:
          type: string
        Results:
          type: array
          items:
            type: object
            additionalProperties: true
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
externalDocs:
  description: vPIC API documentation
  url: https://vpic.nhtsa.dot.gov/api/
