openapi: 3.2.0
info:
  title: NHTSA Vehicle Safety Ratings API
  description: The National Highway Traffic Safety Administration's vehicle-safety APIs expose recalls, complaints, investigations, and 5-Star Safety Ratings for motor vehicles, child-safety seats, tires, and equipment. Endpoints are public and return JSON.
  version: '1'
  contact:
    name: NHTSA
    url: https://www.nhtsa.gov/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://api.nhtsa.gov
  description: Production
tags:
- name: Ratings
  description: 5-Star Safety Ratings
paths:
  /SafetyRatings/modelyear/{modelYear}/make/{make}/model/{model}:
    get:
      tags:
      - Ratings
      summary: 5-Star Safety Ratings for a vehicle
      operationId: getSafetyRatings
      parameters:
      - name: modelYear
        in: path
        required: true
        schema:
          type: integer
      - name: make
        in: path
        required: true
        schema:
          type: string
      - name: model
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Safety ratings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyRatingsResponse'
components:
  schemas:
    SafetyRatingsResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              VehicleId:
                type: integer
              VehicleDescription:
                type: string
              OverallRating:
                type: string
              OverallFrontCrashRating:
                type: string
              OverallSideCrashRating:
                type: string
              RolloverRating:
                type: string
externalDocs:
  description: NHTSA APIs
  url: https://api.nhtsa.gov/
