openapi: 3.1.0
info:
  title: FAA Airport Status Makes API
  description: The Federal Aviation Administration's Airport Status / NAS Status web services expose real-time status, weather, and delay information for major U.S. airports and the National Airspace System.
  version: '1'
  contact:
    name: FAA
    url: https://www.faa.gov/data
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://soa.smext.faa.gov/asws/api/airport/status
  description: FAA ASWS
tags:
- name: Makes
  description: Vehicle makes
paths:
  /vehicles/GetAllMakes:
    get:
      tags:
      - Makes
      summary: Get all vehicle makes
      operationId: getAllMakes
      parameters:
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: All vehicle makes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakesResponse'
components:
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
  schemas:
    MakesResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              Make_ID:
                type: integer
              Make_Name:
                type: string
externalDocs:
  description: FAA Airport Status
  url: https://www.faa.gov/nextgen/programs/swim/
