openapi: 3.1.0
info:
  title: FAA Airport Status Models API
  description: The Federal Aviation Administration's Airport Status / NAS Status web services expose real-time status, weather, and delay information for major U.S. airports and the National Airspace System.
  version: '1'
  contact:
    name: FAA
    url: https://www.faa.gov/data
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://soa.smext.faa.gov/asws/api/airport/status
  description: FAA ASWS
tags:
- name: Models
  description: Vehicle models
paths:
  /vehicles/GetModelsForMake/{makeName}:
    get:
      tags:
      - Models
      summary: Get models for a make
      operationId: getModelsForMake
      parameters:
      - name: makeName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
  /vehicles/GetModelsForMakeYear/make/{make}/modelyear/{year}:
    get:
      tags:
      - Models
      summary: Get models for a make in a given model year
      operationId: getModelsForMakeYear
      parameters:
      - name: make
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
components:
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
  schemas:
    ModelsResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              Make_ID:
                type: integer
              Make_Name:
                type: string
              Model_ID:
                type: integer
              Model_Name:
                type: string
externalDocs:
  description: FAA Airport Status
  url: https://www.faa.gov/nextgen/programs/swim/
