openapi: 3.2.0
info:
  title: NHTSA vPIC (Vehicle Product Information Catalog) Models API
  description: The National Highway Traffic Safety Administration's Vehicle Product Information Catalog (vPIC) API decodes Vehicle Identification Numbers (VINs) and provides catalog data on makes, models, manufacturers, World Manufacturer Identifiers (WMI), and Canadian vehicle specifications. The service returns JSON, XML, or CSV via a public, key-less endpoint.
  version: '1'
  contact:
    name: NHTSA vPIC
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://vpic.nhtsa.dot.gov/api
  description: Production
tags:
- name: Models
  description: Vehicle models
paths:
  /vehicles/GetModelsForMake/{makeName}:
    get:
      tags:
      - Models
      summary: Get models for a make
      operationId: getModelsForMake
      parameters:
      - name: makeName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
  /vehicles/GetModelsForMakeYear/make/{make}/modelyear/{year}:
    get:
      tags:
      - Models
      summary: Get models for a make in a given model year
      operationId: getModelsForMakeYear
      parameters:
      - name: make
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
components:
  schemas:
    ModelsResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              Make_ID:
                type: integer
              Make_Name:
                type: string
              Model_ID:
                type: integer
              Model_Name:
                type: string
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
externalDocs:
  description: vPIC API documentation
  url: https://vpic.nhtsa.dot.gov/api/
