openapi: 3.2.0
info:
  title: NHTSA Vehicle Safety Complaints API
  description: The National Highway Traffic Safety Administration's vehicle-safety APIs expose recalls, complaints, investigations, and 5-Star Safety Ratings for motor vehicles, child-safety seats, tires, and equipment. Endpoints are public and return JSON.
  version: '1'
  contact:
    name: NHTSA
    url: https://www.nhtsa.gov/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://api.nhtsa.gov
  description: Production
tags:
- name: Complaints
  description: Consumer complaint data
paths:
  /complaints/complaintsByVehicle:
    get:
      tags:
      - Complaints
      summary: Look up complaints by vehicle
      operationId: getComplaintsByVehicle
      parameters:
      - name: make
        in: query
        required: true
        schema:
          type: string
      - name: model
        in: query
        required: true
        schema:
          type: string
      - name: modelYear
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Complaints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
components:
  schemas:
    Complaint:
      type: object
      properties:
        odiNumber:
          type: string
        manufacturer:
          type: string
        crash:
          type: boolean
        fire:
          type: boolean
        numberOfInjuries:
          type: integer
        numberOfDeaths:
          type: integer
        dateOfIncident:
          type: string
        dateComplaintFiled:
          type: string
        components:
          type: array
          items:
            type: string
        summary:
          type: string
    ComplaintResponse:
      type: object
      properties:
        Count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Complaint'
externalDocs:
  description: NHTSA APIs
  url: https://api.nhtsa.gov/
