openapi: 3.2.0
info:
  title: NHTSA vPIC (Vehicle Product Information Catalog) Vehicle Variables API
  description: The National Highway Traffic Safety Administration's Vehicle Product Information Catalog (vPIC) API decodes Vehicle Identification Numbers (VINs) and provides catalog data on makes, models, manufacturers, World Manufacturer Identifiers (WMI), and Canadian vehicle specifications. The service returns JSON, XML, or CSV via a public, key-less endpoint.
  version: '1'
  contact:
    name: NHTSA vPIC
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://vpic.nhtsa.dot.gov/api
  description: Production
tags:
- name: Vehicle Variables
  description: Vehicle variable definitions
paths:
  /vehicles/GetVehicleVariableList:
    get:
      tags:
      - Vehicle Variables
      summary: List vehicle variables
      operationId: getVehicleVariableList
      parameters:
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Variable list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleVariablesResponse'
components:
  schemas:
    VehicleVariablesResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              ID:
                type: integer
              Name:
                type: string
              Description:
                type: string
              DataType:
                type: string
              GroupName:
                type:
                - string
                - 'null'
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
externalDocs:
  description: vPIC API documentation
  url: https://vpic.nhtsa.dot.gov/api/
