openapi: 3.2.0
info:
  title: NHTSA vPIC (Vehicle Product Information Catalog) Manufacturers API
  description: The National Highway Traffic Safety Administration's Vehicle Product Information Catalog (vPIC) API decodes Vehicle Identification Numbers (VINs) and provides catalog data on makes, models, manufacturers, World Manufacturer Identifiers (WMI), and Canadian vehicle specifications. The service returns JSON, XML, or CSV via a public, key-less endpoint.
  version: '1'
  contact:
    name: NHTSA vPIC
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://vpic.nhtsa.dot.gov/api
  description: Production
tags:
- name: Manufacturers
  description: Vehicle manufacturers
paths:
  /vehicles/GetAllManufacturers:
    get:
      tags:
      - Manufacturers
      summary: Get all manufacturers (paged 100 per page)
      operationId: getAllManufacturers
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Manufacturers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturersResponse'
components:
  schemas:
    ManufacturersResponse:
      type: object
      properties:
        Count:
          type: integer
        Results:
          type: array
          items:
            type: object
            properties:
              Mfr_ID:
                type: integer
              Mfr_Name:
                type: string
              Country:
                type: string
              VehicleTypes:
                type: array
                items:
                  type: object
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - xml
        default: json
externalDocs:
  description: vPIC API documentation
  url: https://vpic.nhtsa.dot.gov/api/
